h1 {
  &.page_title {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    margin: 15px 10px 10px;
    text-shadow: 1px 1px 1px #bbb;
    a {
      margin-right: 15px;
      &.button {
        vertical-align: 4px;
      }
    }
  }
}
